<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="row">
        <% if @beach_places.blank? %>
        <h3>
          Couldn't find a location with your search criteria!</h3>
      <% else %>
        <% @beach_places.each do |place| %>

        <div class="span4 box-container">
          <div class="holder">
            <a class="overlay" href="#" title="property title">
              <span class="more"></span>
              <% if place.image_url.present? %>
              <%= link_to image_tag(place.image_url.to_s), place %>

            <% else %>

              <%= link_to image_tag("http://placehold.it/370x210"), place %>

              <% end %>

            </a>
            <span class="prop-tag"><%= place.state.upcase %></span>
            <div class="prop-info">
              <h3 class="prop-title"><%= link_to place.name, place %></h3>
              <ul class="more-info clearfix">
                <li class="info-label clearfix">
                  <span class="pull-left">Address:</span>
                  <span class="qty pull-right"><%= place.address %></span>
                </li>
                <li class="info-label clearfix">
                  <span class="pull-left">City:</span>
                  <span class="qty pull-right"><%= place.city %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>

      </div>
      <!-- .row -->
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
<div class="container">
  <div class="row">
    <div class="span12 box-container">
      <div class="row adv-message clearfix">
        <div class="pull-left span7">
          <p class="upper-line serif italic">Realto xHTML/CSS Template is The Best Solution To Sell House Online</p>
          <p class="lower-line">This template is appropriate for Real Estate Company, who need to do their business online via websites.</p>
        </div>
        <!-- .pull-left -->
        <a class="pull-right btn btn-large btn-realto span3" href="#" title="Buy It Now">Buy It Now!</a>
      </div>
      <!-- .adv-message  -->
    </div>
  </div>
</div>