<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="row">
        <% if @places.blank? %>
        <h3>
          Couldn't find a location with your search criteria!</h3>
      <% else %>
        <% @places.each do |place| %>

        <div class="span4 box-container">
          <div class="holder">
            <a class="overlay" href="#" title="property title">
              <span class="more"></span>
              <% if place.image_url.present? %>
              <%= link_to image_tag(place.image_url.to_s), place %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/370x210"), place %>
              <% end %>
            </a>
            <% if place.reviews.present? %>
            <span class="prop-tag star-rating" data-score=<%= place.reviews.average(:rating) %>></span>
          <% else %>
            <span class="prop-tag">No reviews yet!</span>
            <% end %>
            <div class="prop-info">
              <h3 class="prop-title"><%= link_to place.name, place %></h3>
              <ul class="more-info clearfix">
                <li class="info-label clearfix">
                  <span class="pull-left">Address:</span>
                  <span class="qty pull-right"><%= place.address %></span>
                </li>
                <li class="info-label clearfix">
                  <span class="pull-left">City:</span>
                  <span class="qty pull-right"><%= place.city %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>

      </div>
      <!-- .row -->
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
<div class="container">
  <div class="row">
    <div class="span12 box-container">
      <div class="row adv-message clearfix">
        <div class="pull-left span7">
          <p class="upper-line serif italic">The best solution for finding your next destination!</p>
          <p class="lower-line">This application is appropriate for someone looking for an amazing destination, who doesn't wanna waste their time.</p>
        </div>
        <!-- .pull-left -->
        <a class="pull-right btn btn-large btn-realto span3" href="#" title="Write a Review">Write a Review!</a>
      </div>
      <!-- .adv-message  -->
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  })
</script>
