<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-swipe="true" data-cycle-pager="#adv-custom-pager" data-cycle-pager-template='<a href="#" ><img src="{{src}}"></a>' data-cycle-prev="#prev" data-cycle-next="#next"></div>
        <!-- .cycle-slideshow -->
        <div id="adv-custom-pager"></div>
        <div class="clearfix">
          <div class="clearfix padding30">
            <h2 class="prop-title pull-left margin0"><%= @place.name %></h2>
            <% if current_user.try(:admin?) %>
            <small><%= link_to "Edit", edit_place_path, class: "btn btn-primary btn-mini" %></small>
            <small><%= link_to "Delete", place_path, method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-danger btn-mini" %></small>
          <% else %>
            <% end %>
            <%= image_tag @place.image_url %>
            <em class="prop-price pull-right serif italic"><%= "#{@reviews.length} reviews" %></em>
          </br>
          <span class="prop-price pull-right serif italic star-rating" data-score=<%= @avg_rating %>></span>
        </div>
        <div class="clearfix padding030 row-fluid">
          <ul class="more-info pull-left span6">
            <li class="info-label clearfix">
              <span class="pull-left">Category:</span>
              <span class="qty pull-right">
                <%= @place.category.name %>
              </span>
            </li>
            <li class="info-label clearfix">
              <span class="pull-left">Parking:</span>
              <span class="qty pull-right">Unassigned</span>
            </li>
            <li class="info-label clearfix">
              <span class="pull-left">Description:</span>
              <span class="qty pull-right"><%= @place.description %></span>
            </li>
          </ul>
          <ul class="more-info pull-right span6">
            <li class="info-label clearfix">
              <span class="pull-left">Address:</span>
              <span class="qty"></br>
                <%= @place.address %><br/>
                City:
                <%= @place.city %>
                <span class="qty"></br>
                State:
                <%= @place.state %>
                <span class="qty"></br>
                Zipcode:
                <%= @place.zipcode %><br/>
              </span>
            </li>
          </ul>
        </div>
        <div class="clearfix padding30">
          <%= link_to "Write a review", new_place_review_path(@place), class: "btn btn-small btn-realto" %>
          <h3>Reviews</h3>
          <% if @reviews.blank? %>
          <p>
            No reviews yet!</p>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <th class="col-mid-3"></th>
                <th class="col-mid-9"></th>
              </tr>
            </thead>
            <tbody>
              <% @reviews.each do |review| %>
              <tr>
                 <td>
                  <h5><%= "#{review.user.first_name}" %>
                    <%= "#{review.user.last_name}" %></h5>
                </td>
                <td>
                  <div class="star-rating" data-score=<%= review.rating %>></div>
                  <%= review.comment %>

                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- .span8 -->
  <div class="span4">
    <div class="widget map box-container padding30">
      <h3 class="widget-title">Map &amp; Directions</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25159.343855170544!2d<%= @place.longitude %>!3d<%= @place.latitude %>!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1512337049020"
        width="600"
        height="450"
        frameborder="0"
        style="border:0"
        allowfullscreen></iframe>
    </div>
    <div class="agent-box widget box-container clearfix padding30">
      <div class="">
        <div class="pull-left">
        </div>
        <div class="pull-left">
          <h3>More Information</h3>
          <ul>
            <li>Ask us!</li>
            <li>
              <a href="#">hibt@hibt.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- .agent-box -->
    <!-- .search-form -->
  </div>
  <!-- .span4 -->
</div>
<!-- .row -->
</div>
<!-- .container -->
<div class="container">
<div class="row">
  <div class="span12 box-container">
    <div class="row adv-message clearfix">
      <div class="pull-left span7">
        <p class="upper-line serif italic">Hey I've Been There! The best solution for finding your next destination!</p>
        <p class="lower-line">This application is appropriate for someone looking for an amazing destination, who doesn't wanna waste their time.</p>
      </div>
      <!-- .pull-left -->
      <a class="pull-right btn btn-large btn-realto span3" href="#" title="Buy It Now">Find it now!</a>
    </div>
    <!-- .adv-message  -->
  </div>
</div>
</div>
<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function () {
    return $(this).attr('data-score');
  }
})
</script>
